:root {
  font-family: 'Consolas', 'Roboto Mono', 'SF Mono', 'Courier New', monospace;
  line-height: 1.4;
  font-weight: 400;
  color-scheme: dark;
  background-color: #14171a;
  color: #e7e9ea;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #14171a;
}

#root {
  width: 100%;
  height: 100%;
}